// Primary

$Grayish-blue: hsl(237, 18%, 59%);
$Soft-red: hsl(345, 95%, 68%);

// Neutral

$White: hsl(0, 0%, 100%);
$light-sky: hsl(208, 100%, 88%);
$Dark-desaturated-blue: hsl(236, 21%, 26%);
$Very-dark-blue: hsl(235, 16%, 14%);
$Very-dark-blue2: hsl(234, 17%, 12%);

$sunset: hsl(4, 92%, 38%);
// font

$font: "Red Hat Text", sans-serif;
